@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.footer-main{
width: 100%;
height: 3rem;
display: flex;
align-items: center;
justify-content: center;
background-color: #e4fbfb;

position: fixed;
left: 0;
bottom: 0;
z-index: 20;

}
.footer-container{
width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-container div:nth-child(2) {
    color: #1f6cab;
    font-size: 14px;
    font-weight: 800;

  }
.footer-container div:nth-child(3) {
    font-size: 11px;
    color: #00d3eb;

}
.footer-container div:nth-child(1) {
   
font-size: 11px;
}
  